.inputs {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 235);
  padding: 8px;
  box-sizing: border-box;
}
.input_completo {
  width: 545px;
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 235);
  padding: 8px;
}
.input_radio {
  width: 267px;
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 235);
  padding: 5px;
}
.fondo {
  background-color: rgb(244, 244, 245);
}
.texto_der {
  text-align: right;
}
.texto_izq {
  text-align: left;
}
/* Mi Pago */
.tabla_central {
  width: 50%;
  border-spacing: 0px;
}
.div_contenedor {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 235);
  padding: 10px;
}
/* Datos del Usuario */
.tabla_comun {
  border-spacing: 10px;
  width: 100%;
}
.tabla_interior {
  width: 100%;
  border-spacing: 5px;
}
.div_radio {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 235);
  padding: 5px;

  box-sizing: border-box;
}
.tabla_radio {
  width: 100%;
}
.div_interior_tabla {
  width: 50%;
}
.resumen_compra {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 235);
  padding: 10px;
}
.boton_comprar {
  width: 100%;
  padding: 10px;
}
/* Confirmacion Pago */
.tabla_confirmacion {
  border-spacing: 0;
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 235);
}
.td_confirmacion_izq {
  background-color: rgb(240, 240, 242);
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}
.td_confirmacion_der {
  border-spacing: 10;
  width: 75%;
}
.tabla_datos_compra {
  border-spacing: 10;
  width: 90%;
}
.tabla_recomendacion {
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  border-spacing: 10px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 235);
  width: 40%;
}
.qr {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 12px;
}
/* Mi cuenta */
.tabla_datos_usuario {
  width: 80%;
  border-spacing: 10px;
}
.espaciado_10 {
  border-spacing: 10px;
}
.alinear_arriba {
  vertical-align: top;
}
.columna_menu_cuenta {
  width: 25%;
}
.avatar {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}
.contenedor_cuenta {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 235);
  border-radius: 5px;
  padding: 16px;
}
.campo_cuenta {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}
